.CourseDetails {
  font-weight: normal;
}

.DeleteButton,
.GoBack,
.EditButton {
  margin: 5px;
  width: fit-content;
  padding: 0.5rem;
  text-align: center;
}

.DeleteButton {
  background-color: brown;
}

.DeleteButton:hover {
  background-color: rgba(165, 42, 42, 0.654);
}

.GoBack {
  background-color: #4c70af;
}

.GoBack:hover,
.TopicButton:hover {
  background-color: #4c70afe1;
}

.TopicDetails {
  display: inline;
}

.TopicButton {
  width: fit-content;
  padding: 2px 7px;
  margin-bottom: 1.5rem;
  background-color: #48474781;
}

.left {
  text-align: left;
}

.ColorLink {
  color: #4c70af
}

.ColorLink:hover {
  color: #4c70af;
  text-decoration: underline;
}

.TopicDescr {
  width: fit-content;
}