.space-above {
  padding-top: 8rem;
}

h5 {
  padding: 0;
  margin: 0;
}

.card {
  margin-bottom: 2rem;

}

.space-above-extra {
  margin-top: 14rem;
}

.less {
  padding-bottom: 1rem;
}

.empty {
  margin-top: 0;
}

.other-color-cards {
  background-color: white;
  border-radius: 0.2rem;
  border: #126E82;
  border: solid white 5px;
}

.other-color-cards h4 {
  color: #132C33;
}

.other-color-cards p {
  color: #126E82;
}

.other-color-cards h6 {
  color: #132C33;
  padding-bottom: 1rem;
}

.card-link {
  color: #D8E3E7;
  background-color: #132C33;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.card-link:hover {
  color: #126E82;
}

.money-bold {
  font-weight: bold;
}

.name-org {
  color: #4c70af;
  font-weight: bold;
}

.h4-title-course {
  font-weight: bold;
}

h2 {
  font-size: medium;
}