.CourseDetails {
  font-weight: normal;
}

.DeleteButton,
.GoBack,
.EditButton {
  margin: 5px;
  width: fit-content;
  padding: 0.5rem;
  text-align: center;
}

.DeleteButton {
  background-color: brown;
}

.DeleteButton:hover {
  background-color: rgba(165, 42, 42, 0.654);
}


.GoBack:hover,
.TopicButton:hover {
  background-color: #63cfdd;
}

.TopicDetails {
  display: inline;
}

.TopicButton {
  width: fit-content;
  padding: 2px 7px;
  margin-left: 1px;
  margin-right: 5px;
  margin-bottom: 1.5rem;
  background-color: #126E82;
  color: white;
}

.left {
  text-align: left;
}

.h4-title-det {
  color: #132C33;
  font-weight: bold;


}

.normal-text {
  color: #132C33;
}

.ColorLink,
.name {
  color: #126E82
}

.name {
  font-weight: bold;
  font-size: larger;
  letter-spacing: 1px;
}

.ColorLink:hover {
  color: #126E82;
  text-decoration: underline;
}

.TopicDescr {
  width: fit-content;
}

a:not([href]):not([tabindex]) {
  color: transparent;
}

a.close {
  text-shadow: none;
}

.other-color-cardz {
  background-color: white;
  border-radius: 0.2rem;
  border: #126E82;
  border: solid white 5px;
}

.topic-description {
  color: white;
}

b {
  color: #126E82
}

@media screen and (min-width: 1200px) {

  .detail-card,
  .detail-row,
  .col-detail {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 70%;
  }
}