.App {
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

ul {
  list-style-type: none !important;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

.SignupPage,
.LoginPage,
.CreateCourse,
.CreateTopic,
.CourseDetails,
.EditCourse,
.success {
  margin-top: 7rem;
  font-weight: bold;
}