body {
  background-color: #D8E3E7;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS",
    "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: "Trebuchet MS",
    "Segoe UI",
    Tahoma,
    Geneva,
    Verdana,
    sans-serif,
    monospace;
}

.error {
  background-color: rgb(233, 138, 138);
  color: #132C33;
  font-size: 1rem;
  width: fit-content;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 1rem;
  font-weight: lighter;
  text-align: center;
}

.error-div,
.error-div-signup {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}